.cartItem {
    margin-left: 80px;
    margin-bottom: 35px;
    display: block;

}

.btn-cartItem {
    background-color: rgb(159, 159, 224);
    color: aliceblue;
    font-size: 18px;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif
}